* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #282A36;
    color: #F8F8F2;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#44475A, transparent);
}

main {

}

footer {
    margin-top: auto;
}

/* Container for alle elementer i header */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}
/* Container for alle elementer i header */

/* Header elementer og nav style */
#hTXT {
    display: flex;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px black;
    width: 265px;
    color: #FF79C6;
}

.header-text-span {
    color: #F8F8F2;
}

    
.nav-link-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 10px 30px 10px 30px;
}

    /* Container i header til nav linker anchor tag */
    div.nav-link-container a {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    /* Container i header til nav linker anchor tag */

    /* Span tag, farge til anchor tag i header */
    .login-atag1 {
        color: #8BE9FD;
    }

    .login-atag2 {
        color: #FF79C6;
    }

    .login-atag3 {
        color: #BD93F9;
    }

    .login-atag4 {
        color: #F8F8F2;
    }
    /* Span tag, farge til anchor tag i header */

/* Header elementer og nav style */

/* Profil container i header og profil button */
.profile-container {
    display: flex;
    justify-content: center;
    width: 70px;
    border: none;
    
}

.profileBtn {
    border: 2px solid #6272A4;
    border-radius: 25px;
    background-color: #282A36;

}

button:hover.profileBtn {
    background-color: #44475A;
}

button:active.profileBtn {
    background-color: #555a7b;
    box-shadow: 2px 2px #666;
    transform: translateY(2px);
}

/* Profil container i header og profil button */

/* h1, paragraf og Linker i liste på hoved siden */
#mainH1Txt {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 40px 300px 40px 300px;
    border: transparent;
    border-radius: 30px;
    padding: 30px;
    background-color: #44475A;

}

#keyboardAnchor {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    border: none;
    border-radius: 30px;
    padding: 30px;
    background-color: #44475A;
}
/* h1, paragraf og Linker i liste på hoved siden */

/* Interesse liste main */
#interesser-liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 40px 300px 40px 300px;
    padding: 30px;
    border: none;
    border-radius: 30px;
    background-color: #44475A;
}

/* Interesse liste main */

/* Footer style og text elementer */
#footer {
    background-color: #44475A;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.footerTxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: #BD93F9;
}
/* Footer style og text elementer */

/* anchor tag text farge style */
div.aTag a {
    text-decoration: none;
}

div.aTag a:link {
    color: #F8F8F2;
}

div.aTag a:visited {
    color: #FF79C6;
}

div.aTag a:focus {
    color: #50FA7B;
}

div.aTag a:hover {
    color: #8BE9FD;
}

div.aTag a:active {
    color: #F1FA8C;
}
/* anchor tag text farge style */