* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282A36;
    color: #F8F8F2;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#44475A, transparent);
}

main {
    height: 79vh;
    overflow-y: scroll;
}

/* Header elementer og nav style */
#hTXT {
    display: flex;
    position: relative;
    top: 25px;
    left: 25px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px black;
    width: 265px;
    color: #FF79C6;
}

.header-text-span {
    color: #F8F8F2;
}

.nav-link-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    position: relative;
    left: 400px;
    bottom: 15px;
    padding: 5px;
}

    /* Container i header til nav linker anchor tatg */
    div.nav-link-container a {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    /* Container i header til nav linker anchor tag */

    /* Span tag, farge til anchor tag i header */
    .login-atag1 {
        color: #8BE9FD;
    }

    .login-atag2 {
        color: #FF79C6;
    }

    .login-atag3 {
        color: #BD93F9;
    }

    .login-atag4 {
        color: #F8F8F2;
    }
    /* Span tag, farge til anchor tag i header */

/* Header elementer og nav style */

/* Profil container i header og profil button */
.profile-container {
    position: absolute;
    left: 1800px;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 70px;
    border: none;
    
}

.profileBtn {
    border: 2px solid #6272A4;
    border-radius: 25px;
    background-color: #282A36;

}

button:hover.profileBtn {
    background-color: #44475A;
}

button:active.profileBtn {
    background-color: #555a7b;
    box-shadow: 2px 2px #666;
    transform: translateY(2px);
}
/* Profil container i header og profil button */

/* Main paragraf container og text/h1 */
.w1para {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border: transparent;
    border-radius: 20px;
    padding: 10px;
    background-color: #44475A;
    color: #F8F8F2;
    font-size: 18px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(20, 20, 20);
}

.h1-main {
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px black;
}
/* Main paragraf container og text/h1 */

/* Lyd fra innspiling av tastatur */
.audio-player-w1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
/* Lyd fra innspiling av tastatur */

/* Bilder på siden i main */
.KBpics {
    width: 30%;
    height: 30%;
    margin-right: 25px;
    margin-left: 25px;
    display: inline-flex;
    justify-content: center;

}
/* Bilder på siden i main */

/* Footer style og text elementer */
#footer {
    background-color: #44475A;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.footerTxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: #BD93F9;
}
/* Footer style og text elementer */

/* anchor tag text farge style */
div.aTag a {
    text-decoration: none;
}

div.aTag a:link {
    color: #F8F8F2;
}

div.aTag a:visited {
    color: #FF79C6;
}

div.aTag a:focus {
    color: #50FA7B;
}

div.aTag a:hover {
    color: #8BE9FD;
}

div.aTag a:active {
    color: #F1FA8C;
}
/* anchor tag text farge style */